= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container user-new"}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 ユーザー登録
        .user-name_image.row
          .user-name.col-md-10
            = f.text_field :name, {id: 'user_username', :autofocus => "", :placeholder => "ユーザーネーム", :required => ""}

          .user-image.col-md-2
            %button.btn.btn-primary Add image
            = f.file_field :photo, {id: 'upload_avater'}

        = f.email_field :email, autofocus: true, class: 'user-email', placeholder: "メールアドレス"
        = f.password_field :password, autocomplete: "off", class: 'user-password', placeholder: "パスワード"

      .col-md-12
        %h4 所属
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :organization, placeholder: "所属組織"
        %h4 プロフィール
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, placeholder: "プロフィールを入力ください", size: "30x4"

        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :works, placeholder: "職歴、実績", :cols => "30", :rows => "4"
    .row.text-center.user-btn
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Save
