/ %form.container.user-new{:action => ""}
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 ユーザー登録
        .user-name_image.row
          .user-name.col-md-10
            = f.label :名前
            %br
            = f.text_field :name, placeholder: "Username"
          .user-image.col-md-2
            %button.btn.btn-primary Add image
            = f.file_field :photo

        = f.email_field :email, autofocus: true, class: 'user-email', placeholder: "メールアドレス"
        = f.password_field :password, autocomplete: "off", class: 'user-password', placeholder: "パスワード"

      .col-md-12
        %h4 所属
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :organization, placeholder: "所属組織"
        %h4 プロフィール
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, :placeholder => "プロフィールを入力ください", :cols => "30", :rows => "4"

        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :works, :placeholder => "works", :cols => "30", :rows => "4"
    .row.text-center.user-btn
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Save
      